/* fuentes importadas */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

/* fuentes descargadas */
@font-face {
    font-family: 'AmazDooMleft';
    src: url(../fonts/amazdoom/AmazDooMLeft.ttf);
}

@font-face {
    font-family: 'AmazDooMright';
    src: url(../fonts/amazdoom/AmazDooMRight.ttf);
}

/* reseteo basico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* tipografia general (importada) */
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* ajustes letras logo */
.mayus {
    text-transform: uppercase;
}

.minus {
    text-transform: lowercase;
}

.right {
    font-family: 'AmazDooMright';
}

.left {
    font-family: 'AmazDooMleft';
}

/* ajustes generaless */
.baseContainer {
    margin-left: 10vw;
    margin-right: 10vw;
}

/* nav superior */
nav {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    height: 90px;
    z-index: 10;
}

/* logo */
.containerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo,
#logoFooter {
    font-family: 'AmazDooMleft';
    font-size: 5rem;
    color: black;
    text-decoration: none;
    transform: translateY(10%);
}

/* container menu */
.containerMenu ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.containerMenu ul li {
    list-style: none;
    text-decoration: none;
}

.containerMenu ul li a {
    text-decoration: none;
}

/* divider */
.divider {
    height: 15vh;
    padding-top: 5vh;
}

.dividerLine {
    height: 1px;
    max-width: 700px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: auto;
}

/* container presentacion */
.presentation {
    padding-top: 120px;
    padding-bottom: 45px;
}

.containerPresentation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.presentacionImg {
    border-radius: 50%;
    width: 320px;
    height: 320px;
    overflow: hidden;
    background-image: url('../img/beruPerfil.png');
    background-position: center;
    background-size: cover;
}

.presentationInfo {
    align-self: center;
}

/* main projects */
.gridProjects {
    display: grid;
    grid-column-gap: 2vw;
    grid-row-gap: 1vw;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1vh;
}

.gridProjects img {
    width: 100%;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px 15px;
    z-index: 1;
}

/* software */
.software {
    display: flex;
    gap: 10px;
}

.containerSoftware {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.08);
    padding: 10px;
    transition: all 0.5s ease-out;
}
.containerSoftware h2{
    text-align: center;
}

.active {
    flex: 3;
    opacity: 1;
}
.hide .gridSoftware{
    opacity: 0;
}
.gridSoftware{
    display: grid;
    grid-column-gap: 2vw;
    grid-row-gap: 1vw;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1vh;
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
}

.containerFooter {
    /* border: 1px solid red; */
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerLinks {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footerLinks ul li {
    list-style: none;
}

.footerLinks ul li a {
    text-decoration: none;
    color: black;
}
.endFooter{
    text-align: left;
    padding-bottom: 50px;
}

/* logo footer */
.logoFooter {
    display: flex;
    align-items: flex-end;
}

#logoFooter {
    color: rgba(0, 0, 0, 0.3);
    font-size: 10rem;
}

.logoFooter a {
    color: aqua;
}